.header__nav-text {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #5A5A5A;
  margin-right: 20px;
}

.header__nav .page__link:last-of-type .header__nav-text {
  margin-right: 0;
}