.utp__title {
  margin: 21px 0 0 0;
  padding: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 1.25;
  color: #5a5a5a;
  width: 1300px;
  max-width: 900px;
}
.utp__title2 {
  margin: 21px 0 0 0;
  padding: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 1.25;
  color: #5a5a5a;
  width: 1300px;
  max-width: 370px;
}

