.input__input-text {
  margin: 10px 0 10px;
  width: 280px;
  height: 40px;
  border: none;
  padding: 0 15px;
  border-radius: 50px;
  outline: none;
  background-color: #fff;
  font-size: 1rem;
  box-sizing: border-box;
}

.input__input-text[type=number] {
  margin-bottom: 0;
}
