.input__input-text {
  margin: 14px 0 27px;
  width: 204px;
  height: 33px;
  border: none;
  outline: none;
  background-color: #D9D9D9;
  font-size: 1rem;
  box-sizing: border-box;
}

.input__input-text[type=number] {
  margin-bottom: 0;
}